#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 1rem;
  background-image: url('./../public/sl_031420_28950_10.jpg'); /* Chemin relatif */
  background-size: cover; /* Ajuste la taille de l'image pour couvrir tout l'élément */
  background-position: center; /* Centre l'image dans l'élément */
  background-repeat: no-repeat; /* Évite que l'image ne se répète */
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
  flex-wrap: wrap;
  /* margin: auto; */
  margin-left: 6rem;
}

.titleH1 {
  text-align: center;
  color: #edebeb;
}



