#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  background-image: url('./../public/sl_031420_28950_10.jpg'); 
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.titleH1 {
  text-align: center;
  color: rgb(222, 219, 219);
}



