.repo-detail {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #edebeb;
}

.repo-detail h1 {
  font-size: x-large;
  margin-bottom: 10px;
  text-align: center;
  color: #edebeb;
}

.repo-detail h3 {
  font-size: 20px;
  margin-top: 15px;
}

.repo-detail ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Supprime le padding par défaut */
}

.repo-detail li {
  margin: 5px 0; /* Espacement entre les éléments de la liste */
}


