.card {
  display: flexbox;
  background-color: #edebeb;
  border-radius: .5rem;
  margin: 1.5rem;
  width: 18%;

}

.title {
  color:#043464;
  width: 14rem;
  font:700;
  text-align: center;
  overflow-wrap: break-word; /* force le texte long à se couper */
}

.url {
  font-size: small;
  width: 7rem;
  overflow: auto; 
  color: #04a6d9;
  text-decoration: none; /* Supprime le soulignement */
  list-style-type: none; /* Supprime les puces des éléments de la liste */
  padding: 0; /* Supprime le padding par défaut */
  margin: 0; /* Supprime la marge par défaut */
}

.url:hover {
  color: black; /* Couleur au survol */
}

li {
  padding: .25rem; /* Ajoute un espacement autour de chaque élément de la liste */
  margin-bottom: .15rem; /* Ajoute un espacement entre les éléments */
  
}

.private {
  color: #ea9171;
}

.public {
  color: #aa6762;
}

.languages {
  color: #243444;
  background-color: #b0b8c7;
  border-radius: .5rem;
  padding: .5rem;
  margin-top: 2rem;
}

.langTag{
  color: #243444;
}

.h3.ul {
  width: 100%;
}

.link {
  color: #04a6d9;
}
